.github/**
server/.github/**
server/.vscode/**
server/script/**
server/coverage/**
server/.prettierrc.yaml
server/**/*.js
server/tsconfig.tsbuildinfo
server/examples-full/**
server/tree-sitter-elm.wasm
server/HOW_TO_RELEASE.md
.vscode/**
scripts/**
**/*.ts
**/*.map
.gitignore
.nvmrc
.prettierrc.yaml
**/tsconfig.json
**/tsconfig.base.json
client/.nyc_output/**
client/coverage/**
client/**/*.js
client/tsconfig.tsbuildinfo
**/node_modules/**
!server/node_modules/web-tree-sitter/tree-sitter.wasm
**/test/**

