.github/**
server/.github/**
.vscode/**
**/*.ts
**/*.d.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
server
!server/out/**
.travis.yml
client-tests
scripts
.nvmrc
.gitmodules
HOW_TO_RELEASE.md
client/node_modules
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**
!server/node_modules/elm-analyse/**
!server/node_modules/lodash/**
!server/node_modules/find/**
!server/node_modules/traverse-chain/**
!server/node_modules/fs-extra/**
!server/node_modules/graceful-fs/**
!server/node_modules/jsonfile/**
!server/node_modules/os-homedir/**
!server/node_modules/sums/**
!server/node_modules/babel-runtime/regenerator/**
!server/node_modules/regenerator-runtime/**
!server/node_modules/abel-runtime/helpers/asyncToGenerator'/**