.github/**
.vscode/**
.vscode-test
.vscode-test/**
.vscode-test-web
.vscode-test-web/**
client/**
docs/**
scripts/**
server/**
**/*.map
**/tsconfig*.json
**/node_modules/**
.gitignore
.gitmodules
.nvmrc
.prettierrc.yaml
HOW_TO_RELEASE.md
